<!DOCTYPE html>
<html>
<head>

 <title>Candidatos Now</title>
 
<style>

.circular-image {
  border-radius:  50%;
}

.icon {
float: right;
    margin: 0 100 0px 0px;
}

.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  background: #13b4ff;
}

</style>

</head>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#000000" VLINK="#FFFFFF" ALINK="#000000" BACKGROUND="#FFFFFF" >
  <body>
    <div align="center">
    
      
      <h1 class="text-center"> Candidatos Now</h1>
     

      <br/>
      <a href="candidatos/1">      
       <img src="https://pbs.twimg.com/profile_images/720037738863419392/73erg1Nw_400x400.jpg" alt="Candidate 1" style="width:250px;height:250px;" class="circular-image"> </br></br></br>
      </a>
      <br/>
      <a href="candidatos/3"> 
       <img src="http://cdn.bondbuyer.com/media/newspics/Bernier-david-from-Fortaleza.jpg" alt="Candidate 3" style="width:250px;height:250px;" class="circular-image"> </br></br>
      </a>
    </div>

  </body>
</html>