<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html lang="en">
  <head><script src="https://use.fontawesome.com/e47997fa7c.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Candidatos Now</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body >
    <h1 class="text-center">Los 10 pilares de desarrollo económico para Puerto Rico</h1>

    <div style="padding-top:130px"  align="center" > 

    <a href="{{c_id}}/1" style="color: #000000; text-decoration: none;"><button type="button" style= "font-size: 17px; width:550px; height:50px; display: block" class="btn btn-default"><strong><i class="fa fa-industry" aria-hidden="true"></i>&nbsp;Desarrollo de la Industria y Comercio</strong></button></a>

    <a href="{{c_id}}/2" style="color: #000000; text-decoration: none;">
        <button type="button" style= "font-size: 17px; width:550px; height:50px; display: block" class="btn btn-default"><strong><i class="fa fa-cubes" aria-hidden="true"></i>&nbsp;Desarrollo y Crecimiento de la Manufactura</strong></button></a>

    <a href="{{c_id}}/3" style="color: #000000; text-decoration: none;">
        <button type="button" style= "font-size: 17px; width:550px; height:50px; display: block" class="btn btn-default"> <strong><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;Internacionalización</strong></button></a>

    <a href="{{c_id}}/4" style="color: #000000; text-decoration: none;">
        <button type="button" style= "font-size: 17px; width:550px; height:50px; display: block" class="btn btn-default"><strong><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Educación</strong></button></a>

    <a href="{{c_id}}/5" style="color: #000000; text-decoration: none;">
         <button type="button" style= "font-size: 17px; width:550px; height:50px; display: block" class="btn btn-default"><strong> <i class="fa fa-laptop" aria-hidden="true"></i>&nbsp;Economía de la Innovación</strong></button></a>

    <a href="{{c_id}}/6" style="color: #000000; text-decoration: none;">
        <button type="button" style= "font-size: 17px; width:550px; height:50px; display: block" class="btn btn-default"><strong><i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp;Energía a Costos competitivos</strong></button></a>

    <a href="{{c_id}}/7" style="color: #000000; text-decoration: none;">
         <button type="button" style= "font-size: 17px; width:550px; height:50px; display: block" class="btn btn-default"><strong><i class="fa fa-tree" aria-hidden="true"></i>&nbsp;Agricultura Industrializada</a></strong></button></a>

    <a href="{{c_id}}/8" style="color: #000000; text-decoration: none;">
        <button type="button" style= "font-size: 17px; width:550px; height:50px; display: block" class="btn btn-default"><strong><i class="fa fa-plane" aria-label="Left Align"></i> &nbsp;Optimización de la Oferta Turística<strong></button></a>

    <a href="{{c_id}}/9" style="color: #000000; text-decoration: none;">
        <button type="button" style= "font-size: 17px; width:550px; height:50px; display: block" class="btn btn-default"><strong><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;Puerto Rico: Capital tecnológico y profesional del Caribe</strong></button></a>

    <a href="{{c_id}}/10 "style="color: #000000; text-decoration: none;" >
        <button type="button" style= "font-size: 17px; width:550px; height:50px; display: block" class="btn btn-default"><strong><i class="fa fa-plus" aria-hidden="true"></i> / <i class="fa fa-minus" aria-hidden="true"></i>&nbsp;Competitividad</strong></button></a>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>