<!DOCTYPE html>
<html lang="es">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <!-- <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
     --><link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/e47997fa7c.js"></script>

     <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        header.first {
        padding-bottom: 50px;
        margin-bottom: 50px;

    }
        body {

            padding-top :0;
        }
    </style>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
  </head>

  <body style="background-color:#ccccb3">

<header class="w3-container w3-black first">
<nav>
  <ul class="pager" style="position:fixed; top:20px;">
    <li class="previous"><a href="/"> <font size="6" color="black"><i class="fa fa-home" aria-hidden="true"></i></font></a></li>
  </ul>
</nav>
    <div align="center">
        <h1>Candidatos Now</h1>
    </div>
</header>

<div 
class="w3-container w3-black first">
</div>

    <h1 class="text-center">{{ candidate.nombre }} {{candidate.apellido}} opina sobre {{ pilar }} </h1>
      
        {% for message in messages %}
            <div class="container">
            <div class="jumbotron"  align="center">
                <h3><i class="fa fa-quote-left" aria-hidden="true"></i>&nbsp; {{ message.message }} &nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i></h3>
                <p class="lead"></p>
                <p class="text-right"><small>{{ message.date }}</small></p>
                <a href="{{message.url }}" target="_blank"><i class="fa fa-link fa-lg" aria-hidden="true"></i></a>
            </div></div>

         {% endfor %}
      

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>